body{
    margin-top: 20px;
    background-color: #e4e3e3;
}
.main{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.topbar{
    background-color: #9acd32;
    overflow: hidden;
}
.topbar a{
    float: right;
    color: whitesmoke;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    font-size: 20px;
}
.sidebar{
    background-color: whitesmoke;
    color: #77b300;
    height: 100%;
    border: #77b300
}
.sidebar a{
    margin-left: 10px;
    display: block;
    color: #77b300;
    font-size: 20px;
    text-decoration: none;
    text-align: left;
}
.sidebar .mt-3{
  padding-bottom: 20px;
}
.sidebar button{
  margin-left: 10px;
  padding: 8px 15px;
  background-color: #77b300;
  border: #77b300;
  float: left;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    border: #77b300;
}
.content{
    background-color: whitesmoke;
}