<!DOCTYPE html>
<html lang="en" xmlns:font-size="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>Car Protector</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
        crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styleEdit.css">
</head>

<body>
<div class="container">
  <div class="main">
    <div class="topbar">
      <a href="">Logout</a>
      <a href="">Settings</a>
    </div>
    <div class="row">
      <div class="col-md-4 mt-1">
        <div class="card mb-3 text-center sidebar">
          <div class="card-body">
            <img src="car.jpg" class="rounded-circle" width="150">
            <div class="mt-3">
              <h3>My Car</h3>
            </div>
            <div class="row">
              <div class="col-md">
                <h5><a href="">Model</a></h5>
              </div>
              <div class="col-md text-secondary">
                <input type="text" class="form-control" value="Toyota CH-R">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md">
                <h5><a href="">Year of production</a></h5>
              </div>
              <div class="col-md text-secondary">
                <input type="text" class="form-control" value="2018">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md">
                <h5><a href="">Version</a></h5>
              </div>
              <div class="col-md text-secondary">
                <input type="text" class="form-control" value="Hybrid">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md">
                <h5><a href="">Registration Number</a></h5>
              </div>
              <div class="col-md text-secondary">
                <input type="text" class="form-control" value="EL-345WR">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md">
                <h5><a href="">Insurance valid until</a></h5>
              </div>
              <div class="col-md text-secondary">
                <input type="text" class="form-control" value="2022-03-04">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 mt-1">
        <div class="card mb-3 content">
          <h1 class="m-3 pt-3">State</h1>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <h5>Location</h5>
              </div>
              <div class="col-md-9 text-secondary">
                51.734, 19.484<br>ul. Kołowa
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <h5>Engine State</h5>
              </div>
              <div class="col-md-9 text-secondary">
                on
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <h5>Date of last start</h5>
              </div>
              <div class="col-md-9 text-secondary">
                8th June 2021<br>10:23:50
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <h5>Motion Detector</h5>
              </div>
              <div class="col-md-9 text-secondary">
                motion detected
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3 content">
          <h1 class="m-3">Vehicle Limitations</h1>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <h5>Allowed time of use</h5>
              </div>
              <div class="col-md-9 text-secondary">
                <input type="text" class="form-control" value="08:00-20:00">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <h5>Allowed location range</h5>
              </div>
              <div class="col-md-9 text-secondary">
                <input type="text" class="form-control" value="51.9 - 51.65N">
                <input type="text" class="form-control" value="19.2 - 19.6E">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">
                <h5>Allowed motion detected</h5>
              </div>
              <div class="col-md-9 text-secondary">
                <input type="text" class="form-control" value="no motion">
                (in 1 meter range)
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <button class="btn btn-info" target="__blank" href="">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

</html>